@model AboutViewModel

<div>
    <a href="/home/index">Home</a>
    <a href="/home/about">About</a>
    <a href="/home/privacy">Privacy</a>
</div>


<h1>@Model.Title</h1>

<h2>@Model.Message</h2>

<p>We were formed on @Model.FormedString or @Model.Days ago</p>

