<div>
    <a href="/home/index">Home</a>
    <a href="/home/about">About</a>
    <a href="/home/privacy">Privacy</a>
</div>

<h1>Privacy</h1>

<p>Use this page to detail your site's privacy policy.</p>
